literature/books/Spectral_Theory_for_Mathematicians_Hall_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/spectral-theory-and-quantum-mechanics-with-an-introduction-to-the-algebraic-formulation-of-quantum-theories-Moretti_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Cauchy_and_the_Spectral_theorem_for_matrices.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Discrete_Time_Signal_Processing_Oppenheim_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractal_analysis/multifractals-theory-and-applications-Harte-2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/hilbert_spaces/Linear_Operators_in_Hilbert_Spaces_Weidmann_1980.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/hilbert_spaces/Hilbert_space_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/hilbert_spaces/Lp_space_Wikipedia.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/hilbert_spaces/Measure_Theory_Integration_and_Hilbert_Spaces_Stein_2005.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/fourier_series_and_integrals_dym_mckean_1972.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/AnIntroductionToAbstractHarmonicAnalysisLoomis1953.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Pontryagin_Duality_and_The_Structure_of_Locally_Compact_Abelian_Groups_Morris_1977.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Fourier_analysis_on_groups_Rudin_1962.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Can_One_Hear_the_Shape_of_a_Drum_Kac_1966.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Theory_of_Communication_Gabor_1946.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_To_The_Art_of_Mathematical_Inequalities_Steele_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Signal_Processing_Johnson_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Think_DSP-DSP_in_Python_Downey_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Time_Series_and_Spectral_Methods_In_Econometrics_Granger_Watson_HOE_1984.pdf filter=lfs diff=lfs merge=lfs -text
